<h1>Liste des livres</h1>

<% @les_livres.each do |un_livre| %>
    <p><a href="/books/<%= un_livre.id %>"><%= un_livre.title %></a></p>
<% end %>

<%= form_tag "/books", method: "post" do %>
    <input type="text" name="title">
    <input type="submit" value="Ajouter à la liste">
<% end %>